@font-face {
	font-family: Bree Serif;
	src: local("Bree Serif"), local("BreeSerif-Regular"), url(http://themes.googleusercontent.com/static/fonts/breeserif/v3/LQ7WLTaITDg4OSRuOZCpsxsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
